#element.kenshi {
  @at-root {
    @font-face {
      font-family: 'Exo2';
      src: url("~@/themes/kenshi/fonts/Exo2-SemiBold.ttf") format("truetype");
    }
    @font-face {
      font-family: 'MailartRubberstamp';
      src: url("~@/themes/kenshi/fonts/MailartRubberstamp-Regular.otf") format("opentype");
    }
    @font-face {
      font-family: 'Sentencia';
      src: url("~@/themes/kenshi/fonts/Sentencia.ttf") format("truetype");
    }
  }
  
  --font-color: #251B13;
  --alt-font-color: #B1AEA7;
  --font-color-active: #B1AEA7;
  --font-color-primary: var(--font-color);
  --font-color-error: #f56c6c;
  --font-color-success: #67c23a;
  --font-family: 'Exo2', 'Avenir', Helvetica, Arial, sans-serif;
  --font-family-header: 'MailartRubberstamp', 'Exo2', 'Avenir', Helvetica, Arial, sans-serif;
  
  --base-background: #e1ceb2;
  --base-input-background: #7a7a7a;
  --base-button-color: #AEAB96;
  --base-button-border-color: var(--font-color);
  --base-button-hover-color: #BDA98F;
  --base-background-image: url("https://www.transparenttextures.com/patterns/natural-paper.png");
  --base-background-box-shadow: inset 0 0 75px rgba(255,210,0,0.3), inset 0 0 20px rgba(255,210,0,0.4), inset 0 0 30px rgba(220,120,0,0.8);
  --base-border-color: #B1AEA7;
  --base-border: 1px solid var(--base-border-color);
  
  --stories-panel-margin: 0;
  --message-holder-color: #7a7a7a;
  
  --stories-list-background-color: #2A2725;
  --stories-list-background-image: url("https://www.transparenttextures.com/patterns/concrete-wall.png");
  --stories-list-background-box-shadow: none;
  --stories-list-border-image: url("~@/assets/kenshi_dark_bg.png") 50 50 50 50 stretch;
  --stories-list-border-width: 1.4rem;
  --stories-list-border-style: solid;
  --stories-list-max-height: calc(100% - 4.7rem);
  
  --stories-panel-header-background-color: #776B60;
  // --stories-panel-header-background-image: url("https://www.transparenttextures.com/patterns/concrete-wall.png");
  --stories-panel-header-background-image: none;
  --stories-panel-header-background-box-shadow: none;
  --stories-panel-header-border-image: url("~@/assets/kenshi_brown_bg.png") 25 25 25 25 repeat;
  --stories-panel-header-border-width: 1.4rem;
  --stories-panel-header-border-style: solid;
  --stories-panel-header-height: 1rem;
  --stories-panel-header-width: calc(100% - 2.75rem);
  
  --navigation-background-color: #27211F;
  // --navigation-background-image: url("https://www.transparenttextures.com/patterns/concrete-wall.png");
  --navigation-background-image: none;
  --navigation-background-box-shadow: none;
  --navigation-border-image: url("~@/assets/kenshi_dark_bg.png") 50 50 50 50 stretch;
  --navigation-border-width: 10px;
  --navigation-border-style: solid;
  --navigation-border-color: #27211F;
  --navigation-border-active: 2px solid var(--alt-font-color);
  --navigation-height: 5rem;
  
  --story-background-color: #776B60;
  // --story-background-image: url("https://www.transparenttextures.com/patterns/concrete-wall.png");
  --story-background-image: none;
  --story-background-box-shadow: none;
  --story-border-image: url("~@/assets/kenshi_brown_bg.png") 25 25 25 25 stretch;
  --story-border-width: 1.4rem;
  --story-border-style: solid;
  
  --combined-entries-background-color: #776B60;
  --combined-entries-background-image: none;
  --combined-entries-background-box-shadow: none;
  --combined-entries-border-image: url("~@/assets/kenshi_brown_bg.png") 25 25 25 25 repeat;
  --combined-entries-border-width: 1.4rem;
  --combined-entries-border-style: solid;
  
  --entry-base-background: #292725;
  --entry-hover-background: #251B13;
  --entry-active-background: #251B13;
  --entry-active-font: #ffffff;
  
  --editor-background: var(--base-background);
  --editor-color: var(--font-color);
  --editor-border: none;
  --editor-background-image: var(--base-background-image);
  --editor-box-shadow: var(--base-background-box-shadow);
  
  --badge-turqoise: #48D1CC;
  --badge-orange: #FF7F50;
  --coin-color: #E6B63E;
}