<template>
  <el-dialog
    title="Create Story"
    @close="handleClose"
    :visible.sync="showCreateNew"
  >
    <el-form :model="newStoryForm" :rules="rules" ref="newStoryForm">
      <el-form-item aria-label="Story Name Field" label="Story Name" label-width="135px" prop="storyName">
        <div @keydown.stop>
          <el-input v-model="newStoryForm.storyName" type="text"></el-input>
        </div>
      </el-form-item>
      <el-form-item aria-label="Story Privacy Field" label="Privacy" label-width="135px" prop="privacy">
        <el-select aria-haspopup="true" v-model="newStoryForm.privacy" :placeholder="$t('select-privacy-text')">
          <el-option aria-label="Privacy Field Private" label="Private" :value="true"></el-option>
          <el-option aria-label="Privacy Field Public" label="Public" :value="false"></el-option>
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-button @click="handleClose">{{$t('cancel-text')}}</el-button>
        <el-button aria-label="Create Story Modal Button" type="primary" @click="tryCreateStory('newStoryForm')">{{$t('create-story-text')}}</el-button>
      </el-form-item>
    </el-form>
  </el-dialog>
</template>

<script>
import { mapActions, mapState } from 'vuex'

export default {
  name: 'CreateStoryModal',
  data () {
    return {
      uid: undefined,
      dialogFormVisible: false,
      newStoryForm: {
        storyName: '',
        privacy: true
      },
      rules: {
        storyName: [
          { required: true, message: this.$t('story-input-placeholder'), trigger: 'blur' },
          { type: 'string', max: 255, message: this.$t('story-input-validation'), trigger: 'blur' }
        ]
      }
    }
  },
  computed: {
    ...mapState('userData', [
      'user'
    ]),
    profileUid: function () {
      return this.user.id
    },
    profileName: function () {
      return this.user.displayName
    },
    showCreateNew: {
      get: function () {
        return this.dialogFormVisible
      },
      set: function () {}
    }
  },
  methods: {
    ...mapActions('storiesData', ['createStory']),
    async tryCreateStory (formName) {
      this.$refs[formName].validate(async (valid) => {
        if (valid) {
          await this.createStory({
            title: this.newStoryForm.storyName,
            privacy: this.newStoryForm.privacy,
            created_by_name: this.profileName,
            uid: this.profileUid
          })
          this.$set(this.newStoryForm, 'storyName', '')
          this.$set(this.newStoryForm, 'privacy', true)
          this.dialogFormVisible = false
        } else {
          console.log('error submit!!')
          return false
        }
      })
    },
    handleClose () {
      this.dialogFormVisible = false
    }
  },
  created () {
    this.$root.$on('create-new-story', () => {
      this.dialogFormVisible = true
    })
    this.uid = this.user.uid
  }
}
</script>

<style lang="scss">
 .el-dialog {
    background-color: var(--editor-background)!important;
    background-image: var(--editor-background-image)!important;
    box-shadow: var(--editor-box-shadow)!important;
    .el-dialog__headerbtn {
      &:focus {
        outline: auto 5px -webkit-focus-ring-color;
      }
    }
 }
</style>
