<template>
  <div class="date-time-display">
    <v-icon v-if="withIcon" name="regular/clock"/>
    <span class="time-display">{{filteredDate}}</span>
  </div>
</template>

<script>
import moment from 'moment'
import 'vue-awesome/icons/regular/clock'
import Icon from 'vue-awesome/components/Icon'

export default {
  name: 'DateTimeDisplay',
  components: {
    'v-icon': Icon
  },
  props: {
    time: {
      type: Date,
      required: true
    },
    withIcon: {
      type: Boolean,
      default: true
    }
  },
  computed: {
    filteredDate () {
      return moment(this.time.toISOString()).format('YYYY-MM-DD')
    }
  }
}
</script>

<style lang="scss">
.date-time-display {
  display: flex;
  align-items: center;
  justify-content: center;
  svg {
    flex: 1;
    max-width: 1rem;
    font-weight: bold;
  }
  .time-display {
    flex: 1;
  }
}
</style>
