<template>
  <el-tag v-if="isPrivate" type="danger" class="privacy-status">
    <v-icon name="lock" ref="lock"/>
    <span>{{$t('private-text')}}</span>
  </el-tag>
  <el-tag v-else type="success" class="privacy-status" ref="globe">
    <v-icon name="globe-americas"/>
    <span>{{$t('public-text')}}</span>
  </el-tag>
</template>

<script>
import 'vue-awesome/icons/lock'
import 'vue-awesome/icons/globe-americas'
import Icon from 'vue-awesome/components/Icon'

export default {
  name: 'PrivacyStatus',
  components: {
    'v-icon': Icon
  },
  props: {
    isPrivate: {
      type: Boolean,
      required: true
    }
  }
}
</script>

<style lang="scss">
.privacy-status {
  position: relative;
  svg {
    position: absolute;
    left: .4rem;
    top: .4rem;
  }
  span {
    padding-left:1rem;
    color: var(--font-color);
  }
}
</style>
