<template>
  <el-container id="element" :class="currentTheme">
    <el-header id="nav">
      <navigation />
    </el-header>
    <el-main>
      <router-view/>
    </el-main>
    <create-story-modal/>
    <confirm-delete-modal/>
    <vue-element-loading
      class="rolefiction-spinner"
      :active="isLoading"
      is-full-screen
      spinner="ring"
      size="128"
      duration="1.25"
      color="#409EFF"
      text="Loading theme..."/>
    <!-- <el-footer>Footer</el-footer> -->
  </el-container>
</template>

<script>
import Navigation from '@/components/Navigation'
import CreateStoryModal from '@/components/CreateStoryModal'
import ConfirmDeleteModal from '@/components/ConfirmDeleteModal'
import { mapState } from 'vuex'
import VueElementLoading from 'vue-element-loading'

export default {
  name: 'app',
  components: {
    Navigation,
    CreateStoryModal,
    ConfirmDeleteModal,
    VueElementLoading
  },
  computed: {
    ...mapState('userData', ['user']),
    ...mapState('config', ['isLoading']),
    currentTheme () {
      return this.user.theme
    }
  }
}
</script>

<style lang="scss" scoped>
  @import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css');

  .rolefiction-spinner {
    background-color: #ffffff!important;
    pointer-events: none!important;
    user-select: none!important;
  }

  body {
    > .el-container /deep/ {
      min-height: 100vh;
      font-family: var(--font-family);
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      color: var(--font-color);
      .el-header {
        padding: 0;
        background-color: var(--navigation-background-color);
        background-image: var(--navigation-background-image);
        box-shadow: var(--navigation-background-box-shadow);
        border-image: var(--navigation-border-image);
        border-width: var(--navigation-border-width);
        border-style: var(--navigation-border-style);
        height: var(--navigation-height)!important;
        .el-menu {
          background-color: var(--navigation-background-color);
          border-bottom: var(--navigation-border-color)
        }
        a {
          font-weight: bold;
          color: var(--alt-font-color);
          &.router-link-exact-active {
            color: var(--font-color);
          }
        }
      }
      .el-main {
        background-color: var(--base-background);
        background-image: var(--base-background-image);
        box-shadow: var(--base-background-box-shadow);
        position: relative;
      }
    }
  }
</style>
